body {
  padding-top: 50px;
  margin-bottom: 100px;
}

.action-bar {
  margin-bottom: 20px;
}

.card.inline-association-type table {
  margin-bottom: 0;
}

.color-type .wrapper {
  display: block;
  max-width: 150px;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, .85);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,.25);
}

.form-check {
  margin-top: 7px;
}

h1 {
  margin-bottom: 20px;
}
