input type="hidden" name=(form_field_name(name)) value="0"
div.form-check
  label.form-check-label
    input.form-check-input type="checkbox" checked=(value) value="1" name=(form_field_name(name)) id=(form_field_id(name))
