/- content_for :action_header do
/  == render_action_header(dashboard, action)

== slim :'application/pagination'
== slim :'application/inline_records', locals: { dashboard: @dashboard, action: @action, hide_actions: false, records: @records }
== slim :'application/pagination'
