select.association.form-control data={model:(adapter.association_class(field.name))} name=(form_field_name(field)) id=(form_field_id(field)) required=(required) create=(true) placeholder="Select a #{field.label.singularize}"
  - if value.present?
    option selected=(true) value=(value.id) = record_label(value)
